[role="alert"],
.alert {
  text-align: center;
  border-radius: 25px;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  @extend %feature-width-restriction;

  & > strong {
    font-weight: 300;
  }

  &.alert--success {
    background-color: colour('tertiary', 'success');
    color: colour('primary', 'brand3');
  }

  &.alert--error {
    background-color: colour('tertiary', 'error');
    color: colour('primary', 'brand3');
  }

  &.alert--info {
    background-color: colour('secondary', 'text');
    color: colour('primary', 'brand3');
    max-width: 99999px;
    border: none;
    padding-right: 3rem;
    border-radius: 0;
    text-align: left;
    min-height: 1rem;
    left: 0;
    right: 0;
    z-index: z(top);
    margin-bottom: 0;
    
    & > a {
      color: colour('primary', 'brand3');
    }
    
    & .alert__close > .rc-icon-close--light {
      transform-origin: 16% 42%;
    }
  }
  
  &.alert--icon {
    border: solid 1px colour('secondary', 'interface');
    color: colour('secondary', 'interface-dark');
    text-align: left;
    padding-left: 3em;
    border-radius: 0;
    position: relative;

    & .rc-icon {
      position: absolute;
      left: .5em;
      top: .7em;
    }
  }

  // @todo make this into a variable?
  @media (get-breakpoint-up('small')) {
    border-radius: 50px;
  }
}

.alert__close {
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
}