/// ----------------------------------------------------------------------

/// Breadcrumbs

/// ----------------------------------------------------------------------

.breadcrumbs {
	overflow: hidden;
}

.breadcrumb__list {
  display: flex;
  align-items: center;
  list-style: none;
}

.breadcrumb__list,
.breadcrumb__list-item {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.breadcrumb__list-item {
  display: inline-block;
  
  &::after {
    @extend %rc-icon;
    @extend .rc-icon-right--xs--iconography;
    display: inline-block;
    vertical-align: middle;
  }

  &:last-child::after {
    visibility: hidden;
  }
}

.breadcrumb__link {
  color: colour('primary', 'brand2');
  text-decoration: none;

  &:hover,
  &:focus {
    color: colour('primary', 'brand1');
  }
}

.breadcrumbs__current {
  color: colour('primary', 'brand2');
  font-weight: 500;
}

/// ------------------- 
/// Breadcrumb modifiers
/// -------------------

.breadcrumbs--inverse .breadcrumb__list-item::after {
  @extend .rc-icon-right--brand3;
}
