/// ----------------------------------------------------------------------

/// Forms

/// ----------------------------------------------------------------------
/// ------------------- 
/// Forms setup
/// -------------------

$font-size: 1rem;
//$border-radius: borderRadius('input'); // @todo use sass map 
$border-radius: 3px;
$border-width: 2px;
$border-colour: transparent;
$bg-colour: transparent;
$padding-x--base: 0;
$padding-y--base: .8em;

$line-thickness: 2px;

%line-effect {
  &::before,
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $line-thickness;
    z-index: z(default);
    transition: movementSetting('transition', 'base');
  }
  
  &::before {
    background-color: colour('secondary', 'interface');
  }
  
  &::after {
    background-color: colour('secondary', 'text');
    z-index: z(default) + 1;
    width: 0;
  }
}

%label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

%label-text {
  display: inline-block;
  padding: $padding-y--base $padding-x--base;
  pointer-events: none;
  font-weight: 500;
  color: colour('secondary', 'interface');
  transition: movementSetting('transition', 'base');
}

%input-wrapper {
  display: block;
  position: relative;
  margin-top: 3rem;
  margin-bottom: 1em;
}

%input-base {
  display: block;
  margin-bottom: 0;
  padding: $padding-y--base $padding-x--base;
  box-shadow: none;
  width: 100%;
  font-size: $font-size;
  font-weight: 300;
  color: colour('secondary', 'text');
  background-color: $bg-colour;
  border-radius: $border-radius;
  border: $border-width solid $border-colour;

  &:focus {
    outline: none;
  }
}

/// ------------------- 
/// Labels
/// -------------------


.input__label {
  @extend %label;
  @extend %line-effect;
}

.input__label__text {
  @extend %label-text;
 }

/// ------------------- 
/// Label transition
/// -------------------

.input input:focus,
.input textarea:focus {
  & + .input__label {
    & > .input__label__text {
      color: colour('secondary', 'text');
    }

    &::after {
      width: 100%;
    }
  }
}

.input input:not([value=""]),
.input textarea:not([value=""]) {
  & + .input__label {
    & > .input__label__text {
      color: colour('secondary', 'text');
      font-size: .7rem;
      transform: translateY(-2em);
    }

    &::after {
      width: 100%;
    }
  }
}

/// ------------------- 
/// Label modifiers
/// -------------------

.input__label--inline {
  display: inline-block;
  cursor: pointer;
}

.input__label--wrap {
  display: block;
  margin-bottom: .5rem;
  cursor: pointer;
}

/// ------------------- 
/// Input wrapper & base styles
/// -------------------

.input {
  @extend %input-wrapper;
  max-width: 300px;
}


/// ------------------- 
/// Input states
/// -------------------

%error {
  border: 1px solid colour('primary', 'brand1');
  background-color: lighten(colour('primary', 'brand1'), 50%);
}

.input {
  & :disabled {
    & + .input__label {
      opacity: .3;
    }
  }
  
  & .error {
    @extend %error;
    color: colour('primary', 'brand1');
    & + .input__label::after {
      background-color: colour('primary', 'brand1');
      width: 100%;
    }
  }
}

.choices.error + .select__label {
  @extend %error;
  border-bottom: 2px solid colour('primary', 'brand1');
}

/// ------------------- 
/// Common inputs
/// -------------------

.input__text {
  @extend %input-base;
}

.input__email {
  @extend %input-base;
}

.input__number {
  @extend %input-base;
}

.input__search {
  @extend %input-base;
}

.input__tel {
  @extend %input-base;
}

.input__url {
  @extend %input-base;
}

.input__date {
  @extend %input-base;
}

/// ------------------- 
/// Input modifiers
/// -------------------

.input--white {
  & input {
    background-color: colour('primary', 'brand3');
  }
}

/// ------------------- 
/// Password
/// -------------------

.input__password {
  @extend %input-base;
}

.input__password__toggle {
  @extend .vertical-align;
  right: .5rem;
  opacity: .3;
  transition: movementSetting('transition', 'base');
  border: none;
  background-color: transparent;
  @extend %rc-icon;
  @extend .rc-icon-show--iconography;

  &:hover,
  &:focus,
  &:active {
    opacity: 1;
  }
}

/// ------------------- 
/// Textarea
/// -------------------

.input__textarea {
  @extend %input-base;
  resize: vertical;
  height: 200px;
  background-color: colour('primary', 'brand4');
}

/// ------------------- 
/// Checkboxes & radio buttons
/// -------------------

.input__checkbox,
.input__radio {
  margin-right: .2rem;
}

%rc-checkbox-radio {
  display: none;
  
  & + .input__label--inline {
    margin-left: 2rem;
    
    &::before {
      content: '';
      display: inline-block;
      border: 1px solid colour('primary', 'brand2');
      background-color: colour('primary', 'brand4');
      width: 1.5rem;
      height: 1.5rem;
      position: absolute;
      left: 0;
    }

    &::after {
      position: absolute;
    }
  }
}

/// ------------------- 
/// Checkbox modifiers
/// -------------------

.input__checkbox--custom {
  @extend %rc-checkbox-radio;

  & + .input__label--inline::before {
    border-radius: 4px;
  }
  
  &:checked + .input__label--inline::after {
    @extend %rc-icon;
    @extend .rc-icon-success--xs--brand1;
    top: -4px;
    left: -4px;
  }
}

.input__checkbox--featured {
  @extend %rc-checkbox-radio;

  & + .input__label--inline::before {
    border: none;
  }
  
  &:checked + .input__label--inline::after {
    @extend %rc-icon;
    @extend .rc-icon-success--xs--brand1;
    top: -4px;
    left: -4px;
  }
}

/// ------------------- 
/// Radio modifiers
/// -------------------

.input__radio--custom {
  @extend %rc-checkbox-radio;

  & + .input__label--inline::before {
    border-radius: 1.5rem;
  }
  
  &:checked + .input__label--inline::after {
    content: '';
    background-color: colour('primary', 'brand1');
    border-radius: 1rem;
    width: 1rem;
    height: 1rem;
    top: 4px;
    left: 4px;
  }
}

/// ------------------- 
/// Select inputs - choices.js
/// -------------------

.select {
  @extend %input-wrapper;
}

.select__label {
  @extend %label; 
  z-index: z(select-box);
  background-color: colour('primary', 'brand4');
  border: none;
  border-bottom: 2px solid #87888A;
  border-radius: 0;
  
  .select__label__text {
    @extend %label-text;
  }
}

/// ------------------- 
/// Select modifiers
/// -------------------

.select--white {
  & .choices__inner,
  & .select__label {
    background-color: colour('primary', 'brand3');
  }
}

/// ------------------- 
/// Choices.js
/// -------------------

.choices:focus,
.choices.is-open,
.choices.has-changed {
  & + .select__label {
    background: none;

    .select__label__text {
        transform: translate(0, -3em);
        padding-left: 0;
        background: none;
    }
  }
}

[role="listbox"].choices {
  cursor: pointer;
  margin: 0;
  
  & > .choices__inner {
    border: none;
    min-height: 49px;
  }
  
  &::after {
    @extend %rc-icon;
    @extend .rc-icon-down--xs--brand1;
    pointer-events: none;
    height: 32px;
    width: 32px;
    border: none;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    position: absolute;
    cursor: pointer;
    z-index: z(select-box) + 1;
  }

  &.is-open::after {
    transform: translateY(-50%) rotate(180deg);
  }
}

[role="listbox"].choices--white {
  & > .choices__inner {
    background-color: colour('primary', 'brand3');
  }
}

.choices__item--selectable.is-highlighted {
  background-color: colour('primary', 'brand4');
}

.choices__list--multiple {
  & .choices__item {
    background-color: colour('primary', 'brand1');
    border: none;
    border-radius: 0;
    padding: .75em;
  }
  
  & .choices__item.is-highlighted {
    background-color: colour('primary', 'brand1');
    border: none;
  }
} 

.choices__list--dropdown {
  z-index: z(select-box) + 1;
}

.choices[data-type*="select-multiple"] .choices__button,
.choices[data-type*="text"] .choices__button {
  background-image: none;
  border-left: none;
  width: 1.5rem;
  margin: 0;
  padding: 0;
  pointer-events: none;

  &::after {
    @extend %rc-icon;
    @extend .rc-icon-close--xs--brand3;
    position: absolute;
    right: -8px;
    top: -10px;
  }
}

/// ------------------- 
/// Datepicker - native
/// -------------------

::-webkit-calendar-picker-indicator {
  color: colour('primary', 'brand1');
  cursor: pointer;
}

/// ------------------- 
/// Datepicker - pikaday.js
/// -------------------

.pika-lendar > table {
  display: table;
}

.pika-single {
  background-color: white;
  text-align: center;
}

.pika-table th,
.pika-row .is-empty {
  background-color: white;
}

.is-today .pika-button {
  color: colour('primary', 'brand1');
}

.pika-table abbr {
  display: block;
  text-align: center;
}

.pika-single .is-selected .pika-button {
  background-color: colour('tertiary', 'function');
}

.pika-button:hover {
  background-color: colour('primary', 'brand1');
}

.pika-button {
  background-color: white;
  border: none;
  display: inline-block;
}

.pika-row > td {
  padding: 0;
  text-align: center;
}