/// ----------------------------------------------------------------------

/// Interactive

/// ----------------------------------------------------------------------

/// -------------------
/// Pager
/// -------------------

%pager__item__link {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 0 .25em;
  background-color: colour('primary', 'brand4');
  border: 2px solid transparent;
  border-radius: 100%;
  overflow: hidden;
  transition: background-color .2s ease-in-out, border .2s ease-in-out;
  color: transparent;
  padding: 0;
  cursor: pointer;

  &:hover,
  &:focus {
    border-color: colour('primary', 'brand1');
  }
}

%floating-button {
  box-shadow: getShadow('grey', 'faint');
  background-color: colour('primary', 'brand3');
}

.pager {
  margin: 0;
  padding: 0;
}

.pager__item {
  list-style: none;
  display: inline-block;
}

.pager__item__link {
  @extend %pager__item__link;
}

%pager--active {
  background-color: colour('primary', 'brand1');

  &:hover,
  &:focus {
    background-color: colour('primary', 'brand1');
  }

  &:active {
    background-color: colour('primary', 'brand1');
  }
}

.pager--active {
  @extend %pager--active;
}

/// -------------------
/// Navigation Button
/// -------------------

%interactive--navigation {
  display: inline-block;
  transition: background-color .2s ease-in-out;
  background-color: colour('primary', 'brand1');
  width: 32px;
  height: 32px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 100%;

  &:hover,
  &:focus {
    background-color: colour('primary', 'brand1');
  }

  &:active {
    background-color: colour('primary', 'brand1');
  }
}

%navigation--prev {
  @extend %interactive--navigation;

  &::after {
    @extend %rc-icon;
    @extend .rc-icon-left--xs--brand3;
  }
}

%navigation--next {
  @extend %interactive--navigation;

  &::after {
    @extend %rc-icon;
    @extend .rc-icon-right--xs--brand3;
  }
}

.navigation--next {
   @extend %navigation--next;
}

.navigation--prev {
  @extend %navigation--prev;
}


%response {
  display: inline-block;
  border: 1px solid colour('secondary', 'interface');
  background-color: colour('primary', 'brand3');
  border-radius: 100%;
  width: 50px;
  height: 50px;
  padding: .5rem;

  &:hover,
  &:focus {
    background-color: colour('primary', 'brand3');
  }

  &:active {
    background-color: colour('primary', 'brand3');
  }
}

.response--affirmative {
  @extend %response;
  @extend %floating-button;

  &::after {
    @extend %rc-icon;
    @extend .rc-icon-success--iconography;
  }

  &:hover,
  &:focus,
  &.interactive--response--active {
  }
}

.response--negative {
  @extend %response;
  @extend %floating-button;

  &::after {
    @extend %rc-icon;
    @extend .rc-icon-failure--brand1;
  }

  &:hover,
  &:focus,
  &.interactive--response--active {
  }
}

%menu-toggle {
  background-color: transparent;
  border: none;
  position: fixed;
  z-index: z(side-navigation) + 1;
  cursor: pointer;
  top: 0;

  @media (get-breakpoint-up('large')) {
    display: none;
  }
}

.menu-toggle-icon {
  height: 32px;
  width: 36px;
  margin-top: 9px;
  margin-left: 9px;
  display: inline-block;
  pointer-events: none;
}

.menu-toggle--left {
  @extend %menu-toggle;
  left: 0;
  right: auto;
  transform: translate(1.25rem, 1.25rem);
}

.menu-toggle--right {
  @extend %menu-toggle;
  left: auto;
  right: 0;
  transform: translate(-1.25rem, 1.25rem);
}


/// -------------------
/// Toggle SVG
/// -------------------

.toggle-svg .bar {
  fill: colour('primary', 'brand4');
  pointer-events: all;
  cursor: pointer;
  transition: .2s ease;
}

[data-js-import-interactive-svg-trigger].svg-active .bar {
  fill: #e2001a;
}

.toggle-svg .bar-1 {
  transform: scaleX(0.7);
}

.toggle-svg .bar-3 {
  transform: scaleX(0.8);
}

[data-js-import-interactive-svg-trigger].svg-active .bar-1 {
  transform: scaleX(1) rotate(45deg) translateX(-1px);
  transform-origin: top left;
}
[data-js-import-interactive-svg-trigger].svg-active .bar-2 {
  transform: scaleX(0);
  transform-origin: left;
}
[data-js-import-interactive-svg-trigger].svg-active .bar-3 {
  transform: scaleX(1) rotate(-45deg) translateX(-1px);
  transform-origin: bottom left;
}

////////////////////////////////////////////////////////////

