.bg-image {
  @extend %cover;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  &.fixed {
    background-size: contain;
  }

  &.fill {
    background-size: cover;
  }
}

.bg-video__wrapper {
  @extend %cover;
  overflow: hidden;
  z-index: 0;
}
