.bg-image {
  @extend %cover;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  &.fixed {
    background-size: auto;
    background-attachment: fixed;
  }

  &.fill {
    background-size: cover;
  }
}

.bg-video__wrapper {
  @extend %cover;
  overflow: hidden;
}
