table	{
  display: block;
  overflow-x: auto;
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;

  th, td {
    border-right: 1px solid colour('secondary', 'interface');
    padding: .875em 1em;

    &:first-child {
      text-align: left;
    }

    &:last-child {
      border-right: none;
    }
  }

  .table--highlight {
    background-color: colour('primary', 'brand1');
    color: colour('primary', 'brand3');
  }

  thead {
    .table--highlight {
      background-color: colour('primary', 'brand1');
    }
  }

  tbody {
    tr:nth-child( even ) {
      background-color: colour('primary', 'brand4');

      .table--highlight {
        background-color: colour('primary', 'brand1');
      }
    }
  }

  th {
    background-color: colour('primary', 'brand4');
    color: colour('primary', 'brand1');
  }

  // Removes margin from custom checkbox element, where used.
  label {
    margin-bottom: 0;
  }
}

.table--blank {
  tbody {
    tr:nth-child( even ) {
      background-color: inherit;
    }
  }
}