/// ----------------------------------------------------------------------

/// Fonts

/// ----------------------------------------------------------------------

            // Font name             weight     style
$typefaces: ('RC TYPE',              300,       normal),
            ('RC TYPE',              500,       normal);


// Font stack variable
$font-din: "RC TYPE", 'Avenir', Helvetica, Arial, sans-serif;

@each $familyname, $weight, $style in $typefaces {

  // Make the class/placeholder string valid by removing spaces and converting to lowercase.
  $className: str-replace(to_lower_case($familyname), ' ', '-');

  %#{$className}--#{$weight} {
    font-family: $familyname;
    font-style: $style;
    font-weight: $weight;
  }
}
