/// ----------------------------------------------------------------------

/// Icons

/// ----------------------------------------------------------------------

$icon-size: 32px;

%rc-icon,
.rc-icon {
  display: inline-block;
  position: relative;
  background-repeat: no-repeat;
  width: $icon-size;
  height: $icon-size;
  transform-origin: 50% 50%;
  background-image: url('royal-canin.sprite.svg');

  &::after {
    content: '';
    background-image: url('royal-canin.sprite.svg');
    position: absolute;
    opacity: 0;
    left: 0;
    width: $icon-size;
    height: $icon-size;
  }
}

.rc-icon--interactive:hover::after {
  opacity: 1;
  transition: opacity .3s ease;
  // transition: movementSettings('transition', 'base');
}

/// ------------------- 
/// Icon Size Modifiers
/// -------------------

%rc-icon--small,
.rc-icon--small {
  &::after {
    transform: scale(.5);
  }
}

%rc-icon--small--aligned {
  transform: scale(.5) translateY(-50%);
}

%rc-icon--large,
.rc-icon--large {
  &::after {
    transform: scale(2);
  }
}

%rc-icon--large--aligned::after {
  transform: scale(2) translateY(-50%);
}
