/// ----------------------------------------------------------------------

/// Icons

/// ----------------------------------------------------------------------

$icon-size: 32px;

%rc-icon {
  content: '';
  display: inline-block;
  background-repeat: no-repeat;
  width: $icon-size;
  height: $icon-size;
  transform-origin: 50% 50%;
  background-image: url('royal-canin.sprite.svg');
}

.rc-icon::after {
  @extend %rc-icon;
  position: relative;
}

.rc-icon--interactive:hover::after {
  @extend %rc-icon;
  animation: iconFade movementSetting('animation', 'base');
}