/// -------------------
/// Inline style link
/// -------------------

.styled-link {
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  z-index: z(default);
  color: colour('secondary', 'text');
  transition: color .2s ease-in, border-color .2s ease-in;
  overflow: hidden;
  background-color: transparent;
  border: none;
  user-select: none;
  text-decoration: none;
  border-bottom: 1px solid colour('primary', 'brand2');
  padding-bottom: 4px;
  line-height: .9em;
  cursor: pointer;
  font-weight: 500;

  &:hover,
  &:focus {
    color: colour('primary', 'brand1');
    border-bottom: 1px solid colour('primary', 'brand1');
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }

  &:active {
    &::before {
      background-color: colour('secondary', 'text');
    }
  }
}

nav {
  & .styled-link {
    border-bottom: none;

    &:hover,
    &:focus {
      border-bottom: none;
    }
  }
}
