/// ----------------------------------------------------------------------

/// Typography

/// ----------------------------------------------------------------------

/// -------------------
/// Type Style Settings
/// -------------------

//                                                                                                      Breakpoint changes
//               Class                    Base styles            Line height          Default           Breakpoint name / line height / font-size
$type-styles: (
                ('alpha',                'heading-base',         2.125rem,            1.875rem,        ('medium':    (2.75rem,  2.5rem))    ),
                ('beta',                 'heading-base',         2rem,                1.625rem,        ('medium':    (1.875rem, 1.875rem))  ),
                ('gamma',                'heading-base',         1.75rem,             1.375rem,        ('medium':    (1rem,     1.625rem))  ),
                ('delta',                'heading-base',         1.625rem,            1.125rem,        ('medium':    (1.5rem,   1.25rem))   ),
                ('espilon',              'heading-base',         1.5rem,              1rem,            ('medium':    (1.625rem, 1.125rem))  ),
                ('zeta',                 'heading-base',         1.5rem,              0.875rem,        ('medium':    (1.5rem,   1rem))      ),
                ('intro',                'heading-base',         1.5rem,              1rem,            ('medium':    (1.625rem, 1.125rem))  ),
                ('body',                 'heading-base',         1.5rem,              0.875rem,        ('medium':    (1.5rem,   1rem))      )
);

%heading-base {
  color: colour('primary', 'brand1');
  font-weight: 300;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: .5em;
}

%emphasised-text {
  font-weight: 500;
  margin-bottom: .75em;
}

///
/// Typeface Classes
///
/// Takes above settings and generates a class for each type style.
///
@each $name, $baseStyle, $lineHeight, $defaultSize, $sizes in $type-styles {

  .#{$name} {
    @extend %#{$baseStyle};
    font-size: $defaultSize;
    line-height: $lineHeight;

    $breakpointNames: map-keys($sizes);

    @each $breakpoint in $sizes {
      $breakpointSizes: map-get($sizes, nth($breakpointNames, index($sizes, $breakpoint)));
      @media (get-breakpoint-up(#{nth($breakpointNames, index($sizes, $breakpoint))})) {
        font-size: nth($breakpointSizes, 2);
        line-height: nth($breakpointSizes, 1);
      }
    }
  }
}

///
/// Heading Style Overrides
///
/// Takes settings and generates a class that overrides h tags.
///
$styleMapping: (
                ('h1', 'alpha'),
                ('h2', 'beta'),
                ('h3', 'gamma'),
                ('h4', 'delta'),
                ('h5', 'espilon'),
                ('h6', 'zeta')
);

@each $tag, $style in $styleMapping {
  .rc-replace-header-styles {
    #{$tag} {
      @extend .#{$style};
    }
  }
}

/// -------------------
/// General
/// -------------------

body {
  line-height: 1.5;
  color: colour('secondary', 'text');
}

body,
input,
textarea,
select,
button {
  font-family: $font-din; // weight size/line-height family
  font-weight: 300;
  font-size: 14px;
}

@media (get-breakpoint-up('small')) {
  body,
  input,
  textarea,
  select,
  button {
    font-size: 16px;
  }
}

h1, h2, h3, h4, h5, h6 {
  // This is to stop some browsers enforcing their own weights on h tags.
  font-weight: 300;
  margin-top: 0;
}

b {
  font-weight: 500;
}

/// -------------------
/// Type style modifiers
/// -------------------

.text--centered {
  text-align: center;
}

.text--hero {
  text-transform: uppercase;
}

.heading--dark {
  color: colour('secondary', 'text');
}

.heading--medium {
  font-weight: 500;
}

.heading--interactive {
  color: colour('secondary', 'text');

  &:hover {
    color: colour('primary', 'brand1');
  }
}

/// -------------------
/// Text blocks
/// -------------------

q {
  font-size: 1.25em;
  font-style: italic;
  quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote,
q {
  border-left: 3px solid colour('primary', 'brand1');
  margin: auto 0;
  padding: 1em;
  padding-left: 2em;
  display: block;

  & > p {
    color: colour('secondary', 'text');
  }
}
