/// ----------------------------------------------------------------------

/// Visual Styles

/// ----------------------------------------------------------------------

/// -------------------
/// Outlines/borders
/// -------------------

$borders: ('top', 'bottom', 'left', 'right');

@each $border in $borders {
  .border-#{$border} {
    border-#{$border}-style: solid;
    border-#{$border}-width: 1px;
  }
}

.border-all {
  border-style: solid;
  border-width: 1px;
}

%on-white-outline {
  border: 1px solid colour('secondary', 'interface');
}

.outline-light {
  @extend %on-white-outline;
}

@mixin red-accent($direction, $width) {
  border-#{$direction}: $width solid colour('primary', 'brand1');
}


/// -------------------
/// Misc
/// -------------------

%feature-width-restriction {
  max-width: 700px;
}

%example-wrapper {
  padding: 1em;
}
