<% _.forEach(svg, function(svgItem) { %>
  .<%=common %>-<%=svgItem.name%> {
    background-position: <%= svgItem.relPositionX %> * 32px <%= svgItem.relPositionY %>;
    
    &:hover::after {
      $iconography: <%= _.includes(svgItem.name, 'iconography') %> ;
      $brand1: <%= _.includes(svgItem.name, 'brand1') %> ;
      $brand3: <%= _.includes(svgItem.name, 'brand3') %> ;

      // Colour hover rules
      @if ($iconography) {
        @extend .<%=common %>-<%= _.replace(svgItem.name, 'iconography', 'brand1') %>;
      }
      @if ($brand1) {
        @extend .<%=common %>-<%= _.replace(svgItem.name, 'brand1', 'brand1') %>;
      }
      @if ($brand3) {
        @extend .<%=common %>-<%= _.replace(svgItem.name, 'brand3', 'brand4') %>;
      }
    }
  }
<% }); %>