/// ----------------------------------------------------------------------

/// Animation Configuration (sass maps)
///
/// Function file: 
/// ./functions/_animation.scss

/// ----------------------------------------------------------------------

/// -------------------
/// Movement Settings
/// -------------------

$movementSettings: (
  transition: (
    base: .2s ease
  ),
  animation: (
    base: .5s forwards ease
  )
);
