/// ----------------------------------------------------------------------

/// Colour configuration
///
/// Function file:
/// ./functions/_colours.scss

/// ----------------------------------------------------------------------

/// -------------------
///  Colours 
/// -------------------

$colours: (
  'primary': (
    'brand1':         #E2001A,
    'brand2':         #808285,
    'brand3':         #FFFFFF,
    'brand4':         #F6F6F6
  ),
  'secondary': (  
    'text':           #666666,
    'iconography':    #767676,
    'hyperlink':      #444444,
    'interface':      #D7D7D7,
    'interface-dark': #333333
  ),
  'tertiary': (
    'function':       #5CA9AD,
    'success':        #47B800,
    'warning':        #EE8B00,
    'error':          #C03344,
    'inactive':       #EAEAEA
  ),
  'exceptional': (
    'hover':          #BD0016
  )
);

/// -------------------
///  Shortname properties
///
///  Map to convert classname to correct CSS property.
///
/// -------------------

$properties: (
  ('bg', 'background-color')
  ('text', 'color')
  ('border', 'border-color')
);

/// -------------------
///  Utility Class Rules
///
///  Define what colours are generated into utility classes. 
///  E.g. 'Interface' should only be used as background or border colour.
///
/// -------------------

$background: (
  ('primary', ('brand1', 'brand2', 'brand3', 'brand4')),
  ('secondary', ('interface-dark'))
);

$text: (
  ('primary', ('brand1', 'brand3', 'brand4')),
  ('secondary', ('text', 'iconography')),
  ('tertiary', ('success', 'error', 'warning', 'inactive')),
);

$border: (
  ('secondary', ('interface')),
);


/// -------------------
///  Gradients
/// -------------------

$gradients: (
  'horizontal' : (
    'colour-from': colour('primary', 'brand3'),
    'colour-to': colour('primary', 'brand4')
  ),
  'vertical' : (
    'colour-from': colour('primary', 'brand3'),
    'colour-to': colour('primary', 'brand4')
  )
);

$conversion-map: (
  horizontal    : 90deg,
  vertical      : 180deg
);
