/// ----------------------------------------------------------------------

/// Forms configuration

/// ----------------------------------------------------------------------

$inputStates: (
  'base': (
    'colourFrom': colour('secondary', 'interface'),
    'colourTo': colour('secondary', 'text'),
    'icon': none
  ),
  'success': (
    'colourFrom': colour('tertiary', 'success'),
    'colourTo': colour('tertiary', 'success'),
    'icon': 'rc-icon-success--xs--success'
  ),
  'warning': (
    'colourFrom': colour('tertiary', 'warning'),
    'colourTo': colour('tertiary', 'warning'),
    'icon': 'rc-icon-warning--xs--warning'
  ),
  'error': (
    'colourFrom': colour('tertiary', 'error'),
    'colourTo': colour('tertiary', 'error'),
    'icon': 'rc-icon-failure--xs--error'
  )
);

$inputEffect: (
  'control': (
    'border-width': 2px,
    'line-animation': true,
    'label-animation': true
  ),
  'password': (
    'line-animation': true,
    'label-animation': true
  ),
  'textarea': (
    'line-animation': false,
    'label-animation': true
  ),
  'date': (
    'line-animation': true,
    'label-animation': true
  ),
  'select': (
    'line-animation': false,
    'label-animation': false
  )
);

$inputSizes: (
  'base': (
    'padding-x': 0,
    'padding-y': .95rem,
    'font-size': 1rem
  )
);