.content-block {
  @extend %sixteen-to-nine--medium-up;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-right: auto;
  margin-left: auto;
  align-items: center;

  & > .single-column {
    display: flex;
    align-items: center;
  }

  & .rc-column {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    overflow: hidden;
  }
}

.content-block__wrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.content-block__wrapper > .layout-container {
  align-items: center;
  overflow: hidden;
  @extend %max-width--large;
}


.layout-container.two-column.stacked {
  flex-direction: column;

  & .rc-column {
    width: 100%;
  }
}
