.navigation--vertical {
  display: block;
  color: colour('secondary', 'text');
  width: 100%;
  z-index: z(side-navigation);

  @media (get-breakpoint-down('medium')) {
    position: fixed;
  }

  @media (get-breakpoint-up('medium')) {
    position: relative;
    padding-top: 50px;
  }
}

.navigation--vertical__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

%active-menu-item {
  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    @extend %rc-icon;
    @extend .rc-icon-right--xs--brand1;
  }
}

.navigation--vertical__list-item {
  list-style: none;
  padding: 0;
  margin: 0;

  & > a,
  & > .section-title {
    position: relative;
    display: block;
    text-decoration: none;
    padding: .5rem;
    color: colour('secondary', 'text');
    font-weight: 300;
  }

  & > a.active {
    @extend .bg-colour--brand4;
    @extend %active-menu-item;
  }

  & > .section-title {
    margin-top: 1rem;
    font-weight: 500;
    padding-bottom: 1rem;
  }

  & > a:hover {
    @extend %active-menu-item;
  }
}

.navigation--vertical--toggle {
  position: absolute;
  z-index: z(side-navigation);
  @extend .vertical-align;

  @media (get-breakpoint-down('medium')) {
    left: 1rem;
  }

  @media (get-breakpoint-up('medium')) {
    top: auto;
    transform: none;
    bottom: -55px;
  }
}

.page-header {
  z-index: z(header-navigation) + 1;
}

.page-header .logo-wrapper {
  @extend .center-align;

  @media (get-breakpoint-up('medium')) {
    position: relative;
    left: auto;
    transform: none;
  }
}

@media (get-breakpoint-down('medium')) {
  .page-has-no-sidebar {

    & .page-header .align-children--space-between {
      flex-direction: column;
      display: block;
      text-align: center;
    }

    & .logo-wrapper {
      position: relative;
      transform: none;
      left: auto;
      top: auto;
      display: block;
    }

    & .svg-wrapper-link {
      display: inline-block;
    }

    & .primary-navigation {
      display: inline-block;
    }
  }
}
