.navigation--vertical {
  display: block;
  color: colour('functional', 'text');
  width: 100%;
  z-index: z(side-navigation);
}

.navigation--vertical__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation--vertical__list-item {
  list-style: none;
  padding: 0;
  margin: 0;

  & > a,
  & > .section-title {
    display: block;
    text-decoration: none;
    padding: .5rem;
    color: colour('functional', 'text');
  }

  & > .section-title {
    margin-top: 1rem;
    font-weight: bolder;
    padding-bottom: 1rem;
  }

}
